<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.30.5" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net45" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net45" />
  <package id="NSubstitute" version="1.8.2.0" targetFramework="net45" />
  <package id="Should" version="1.1.20" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>